.wrapper {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.box {
    margin: 0 auto;
    width: 50%;
}

.button {
    background-color: steelblue;
    border-radius: 10px 10px;
    height: 2rem;
    width: 5rem;
    color: white;
}

.button:active {
    background-color: darkblue;
}

.toggle {
    width: 10rem;
    font-size: 1rem;
    background-color: darkorange;
}

.toggle:active{
    background-color: brown;
}

input[placeholder] {
    color: red;
    font-size: 1rem !important;
}

input[type=number] {
    color: black;
    height: 2rem;
    font-size: 2rem;
    width: 15%;
    text-align: center;
}

input[type=number]:focus {
    border: 2px solid cornflowerblue;    
}

label {
    font-size: 1.3rem;
}

select   {
    text-align: center;
    width: 10rem;
    font-size: 1.5rem;
    text-align-last: center;
}

option {    
    text-align-last: center;
    
}

#select-day {
    width: 4rem;
}