.wrapper {
    display: flex;    
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.box {
    margin: 0 auto;
    width: 50%;
}

.box button {
    background-color: steelblue;
    border-radius: 10px 10px;
    height: 2rem;
    width: 5rem;
    color: white;
}

input[placeholder] {
    color: red;
    font-size: 1rem !important;
}

input[type=number] {
    color: black;
    height: 2rem;
    font-size: 2rem;
    width: 10%;
    text-align: center;
}

input[type=number]:focus {
    border: 2px solid cornflowerblue;    
}